<h1 class="is-size-1">Add A New Recipe</h1>

<%if @errors%>
  <%@errors.each do |error|%>
    <p class="is-size-5 has-text-danger"><%=error%></p>
  <%end%>
<%end%>

<form action="/recipes" method="POST">
  <div class="field">
    <label class="label">Recipe Name:</label>
    <div class="control">
      <input class="input" type="text" name="name" required>
    </div>
  </div>

  <div class="field">
    <label class="label">Cooking Time:</label>
    <div class="control">
      <input class="input" type="text" name="cook_time">
    </div>
  </div>
  
  <div class="field">
    <label class="label">Ingredients:</label>
    <div class="control">
      <input class="input" type="text" name="ingredients">
    </div>
  </div>

  <div class="field">
    <label class="label">Tags:</label>
    <div class="control">
      <input class="input" type="text" name="tags">
    </div>
  </div>

  <div class="field">
    <label class="label">Link to Recipe:</label>
    <div class="control">
      <input class="input" type="text" name="link">
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <input type="submit" class="button is-link" value="Add Recipe">
    </div>
    <div class="control">
      <a href="/recipes" class="button is-link is-light">Cancel</a>
    </div>
  </div>

</form>
