<div class="has-text-centered">
  <h1 class="is-size-1"><%=@user.username.capitalize%>'s Recipes</h1>
</div>
<div class="columns is-multiline is-8">
    <%@user.recipes.each do |recipe|%>
    <div class="column is-one-quarter has-text-centered">
      <a href="/recipes/<%=recipe.id%>" class="is-size-4">
        <%=recipe.name%>
      </a>
    </div>
    <% end %>
</div>
<div class="has-text-centered">
  <p>
    <a href="/recipes/new" class="button is-primary">Add A New Recipe</a>
  </p>
</div>
