<div class="has-text-centered">
  <h1 class="is-size-1"><%=@user.username.capitalize%>'s Recipes</h1>
</div>
<div class="container">
    <%@user.recipes.each do |recipe|%>
    <div class="tile is-vertical is-3">
      <a href="/recipes/<%=recipe.id%>" style="background-color: <%=recipe.color if recipe.color%>">
    </div>
          <%=recipe.name%>
        </a>
	<% end %>
</div>
<p><a href="/recipes/new" class="yellow-button">Make A New Recipe</a></p>
