<h1>Log In To Your Account</h1>
<h2 class="error"><%=@error%></h2>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username:"><br>
    <input type="password" name="password" placeholder="Password:"><br>
    <input type="submit" value="Log In" class="yellow-button">
</form>
