<div class='has-text-centered'>
  <h1 class='is-size-1'>Real Recipes</h1>
</div>
<div class="is-centered columns">
  <div class="column is-one-third">
    <h2 class="is-size-2">Create an Account</h2>
    <%if @errors%>
      <%@errors.each do |error|%>
        <p class="has-text-danger is-size-5"><%=error%></p>
      <%end%>
    <%end%>
    <form method="POST" action="/signup">
      <div class="field">
        <div class="control">
          <input type="text" name="username" class="input" placeholder="Username:" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="password" name="password"  class="input" placeholder="Password:" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" value="Sign Up" class="button is-success">
        </div>
      </div>
    </form>
  </div>
</div>
