<div class="has-text-centered">
  <h1 class="is-size-1">Wecome To Real Recipes</h1>
  <img src="/images/cutlery.svg" class="is-centered" alt="wooden box full of produce" height="200" width="200"/><br>
  <h2 class="is-size-2 is-centered">Create an account and save as many recipes as you like</h2>
</div>
