<h1 class="is-size-1 has-text-centered has-text-warning" >Uh oh!</h1>
<p class="is-size-3 has-text-centered">Looks like you're in the wrong place. Click on the recipes button to go back to your recipes.</p>
