<h1>Wecome To Real Recipes</h1>
<img src="/images/harvest.svg" alt="wooden box full of produce" height="200" width="200"/><br>
<h2>Create an account and save as many recipes as you like</h2>
<a href="/signup" class="signup-button">Sign Up</a><br>
<a href="/login" class="login-button">Log In</a> 