<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Real Recipes</title>
    <link rel="icon" src="/images/harvest.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" integrity="sha512-ADrqa2PY1TZtb/MoLZIZu/Z/LlPaWQeDMBV73EMwjGam43/JJ5fqW38Rq8LJOVGCDfrJeOMS3Q/wRUVzW5DkjQ==" crossorigin="anonymous" />
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />-->
  </head>
    <body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/images/harvest.svg" alt="Real Recipes: All of your recipes in one place" width="112" height="28"></a>
  </div>
    <%if !logged_in? %>
    <div class="navbar-end">
      <div class="navbar-item">
	<div class="field is-grouped">
	  <p class="control">
	    <a href="/login" class="button" style="background-color: #25AC51">
	      <span>Login</span>
	    </a>
	  </p>
	  <p class="control">
	    <a href="/signup" class="button" style="background-color: #F0983F">
	      <span>Sign Up</span>
	    </a>
	  </p>
	</div>
      </div>
    </div>
    <% else %>
    <div class="navbar-item">
      <a href="/recipes" class="button is-primary">Recipes</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
	<a href="/logout" class="button is-danger">Logout</a>
      </div>
    </div>
    <% end %>
   
  </div>
</nav>
<!--
<%if !logged_in? %>
          <li><a href="/">Home</a></li>
          <li style="float:right"><a href="/login">Login</a></li>
          <li style="float:right"><a href="/signup">Sign Up</a></li>
        <% else %>
          <li style="float:right"><a href="/logout">Logout</a></li>
          <li><a href="/recipes">Recipes</a></li>
        <% end %>
      </ul>
    </div>-->
    <div class="wrapper">
    
      <%= yield %>

    </div>
    <footer class="branding">
        Icon made by <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio" target="_blank">photo3idea_studio</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a>
</footer>
  </body>
</html>
