<h1>Add A New Recipe</h1>

<form action="/recipes" method="POST">
    <label>Recipe Name:</label>
    <input type="text" name="name" required>
    <br>
    
    <label>Cooking Time:</label>
    <input type="text" name="cook_time">
    <br>
    
    <label>Ingredients:</label>
    <input type="text" name="ingredients">
    <br>

    <label>Tags:</label>
    <input type="text" name="tags">
    <br>

    <label>Link to Recipe:</label>
    <input type="text" name="link">
    <br>

    <label>Background Color</label><br>
    <input type="radio" name="color" id="red" value="red">Red</input><br>
    <input type="radio" name="color" id="orange" value="orange">Orange</input><br>
    <input type="radio" name="color" id="yellow" value="yellow">Yellow</input><br>
    <input type="radio" name="color" id="green" value="green">Green</input><br>
    <input type="radio" name="color" id="blue" value="blue">Blue</input><br>
    <input type="radio" name="color" id="indigo" value="indigo">Indigo</input><br>
    <input type="radio" name="color" id="violet" value="violet">Violet</input><bbr>
    <br>

    <input type="submit" value="Add Recipe" class="yellow-button">

</form>
