<h1 style="font-size: 50px">Hello <%=@user.username%>!</h1>
<h2>Your Recipes</h2>
<div class="recipe-grid-wrapper">
    <%@user.recipes.each do |recipe|%>
        <a href="/recipes/<%=recipe.id%>" class="recipe" style="background-color: <%=recipe.color if recipe.color%>">
            <%=recipe.name%>
        </a>
    <% end %>
</div>
<br>
<p><a href="/recipes/new" class="new-recipe-button">Make A New Recipe</a></p>