<h1>Create an Account</h1>
<h2 class="error"><%=@error%></h2>
<form method="POST" action="/signup">
    <input type="text" name="username" placeholder="Username:">
    <input type="password" name="password" placeholder="Password:">
    <input type="submit" value="Sign Up" class="new-recipe-button">
</form>